:global {
  @import 'base';
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .main {
    flex: 1 0 auto;
  }

  #root {
    padding: 40px 0;
    img {
      max-width: initial;
    }
  }

  img {
    max-width: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}
