@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Condensed', 'Roboto', sans-serif;
  color: #575756; /* Should be removed when material SASS is completed */
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 1em;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1rem;
}

p {
  margin-top: 1.5em
}

table {
  margin-left: -24px;
}

td {
  padding: 0;
  vertical-align: bottom;
}

.main {
  flex: 1 0 auto;
  min-height: 80vh;
}

#root {
  padding: 40px;
  margin-bottom: 100px;
  img {
    max-width: initial;
  }
}

img {
  max-width: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

footer {
  padding: 10px;
  background-color: #eee;
}

.footer-copyright .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feedback-link {
  margin-left: 10px;
}

.logo {
  max-width: 130px;
  padding: 10px;
}
