.images--list {
  display: flex;
  flex-wrap: wrap;
}

.images--list img {
  max-width: none;
}

.images--image {
  display: flex;
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 0 20px 20px;
  margin: 15px 10px 15px 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  animation: fadein 1s;
}

.images--images {
  display: flex;
}

.images--images > div {
  padding: 15px;
}

.images--image img {
  margin-top: 5px;
}

.reprocessing {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadein 0.2s;
}

.reprocessing > div {
  width: 100%;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
