.wrapper {
  counter-reset: item;
  list-style: none;

  li {
    counter-increment: item;
  }

  li:before {
   margin-right: 10px;
   content: counter(item)'.';
   text-align: center;
   display: inline-block;
   font-size: 2em;
 }
}
