.image-caption {
  display: flex;
  justify-content: flex-start;
  max-width: 600px;
  padding: 5px 0;
  font-size: 0.8rem;
}

.image-caption--item {
  padding: 0 10px;
  min-width: 100px;
  margin-bottom: 2px;
}

.image-caption--value {
  font-weight: 600;
}

.image-caption--buttons {
  border-right: 1px solid #575757;
  display: flex;

  padding-right: 10px;
}
